<div class="centered">
    <h1>Editing Campeonato</h1>

    <%= render 'form', campeonato: @campeonato %>

    <%= link_to 'Show', @campeonato, class:"btn btn-info" %>
    <%= link_to 'Back', campeonatos_path, class:"btn btn-secondary" %>
</div>
