<div class="centered">
    <h1><%= t('championship.edit') %></h1>

    <%= render 'form', campeonato: @campeonato %>

    <%= link_to t('show'), @campeonato, class:"btn btn-info" %>
    <%= link_to t('back'), campeonatos_path, class:"btn btn-secondary" %>
</div>
