<div class="centered">
    <title>AppSoccer-ADR</title>
    <h1>Home</h1>
    <hr>

    <%= link_to t('championship.championships'), campeonatos_path, class:"btn btn-primary" %>
    <%= link_to t('club.clubs'), clubes_path, class:"btn btn-secondary" %>
    <%= link_to t('player.players'), players_path, class:"btn btn-dark" %>
</div>
