<div class="centered">
    <title>Soccer</title>
    <h1>Home</h1>
    <hr>

    <%= link_to "Campeonatos", campeonatos_path, class:"btn btn-primary" %>
    <%= link_to "Clubes", clubes_path, class:"btn btn-secondary" %>
    <%= link_to "Jogadores", players_path, class:"btn btn-dark" %>
</div>
