<div class="centered">
    <h1><%= t('club.edit') %></h1>

    <%= render 'form', clube: @clube %>

    <%= link_to t('show'), @clube, class:"btn btn-info" %>
    <%= link_to t('back'), clubes_path, class:"btn btn-secondary" %>
</div>
