<div class="centered">
    <h1>Editing Clube</h1>

    <%= render 'form', clube: @clube %>

    <%= link_to 'Show', @clube, class:"btn btn-info" %>
    <%= link_to 'Back', clubes_path, class:"btn btn-secondary" %>
</div>
